<figure class="video-widget pb-3" (click)="onClickGoToVideoDetail(content.contentDetails.videoId)">
    <div class="thumbnail clearfix">
        <img src="{{content.snippet.thumbnails.medium.url}}" width="100%" />
        <figcaption class="thumbnail-footer pl-3 pr-3">
            <span class="float-left title">{{content.snippet.title}}</span>
            <span class="float-right play">
                <img src="../../../assets/images/play_button.svg" alt="play" height="30">
            </span>
        </figcaption>
    </div>
    <div class="details clearfix">
        <p class="details-date">Published on {{content.contentDetails.videoPublishedAt | date: mediumDate}}</p>
        <p class="details-description">{{content.snippet.description}}</p>
    </div>
</figure>
