.video-widget {
    cursor: pointer;
    .thumbnail {
        .thumbnail-footer {
            position: relative;
            top: -40px;
        }
    }
    .details {
        .details-description {
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 4;
            -webkit-box-orient: vertical;
        }
    }
}