<div class="video-widget pb-3" (click)="onClickGoToVideoDetail(content.contentDetails.videoId)">
    <div class="thumbnail clearfix">
        <img src="{{content.snippet.thumbnails.medium.url}}" width="100%" />
        <div class="footer-helper">
            <div class="row align-items-center thumbnail-footer">
                <div class="col-10">
                    <span class="float-left title">{{content.snippet.title}}</span>
                </div>
                <div class="col-2">
                    <span class="float-right play">
                        <img src="../../../assets/images/play_button.svg" alt="play" height="30">
                    </span>
                </div>
            </div>
        </div>
    </div>
    <app-details-widget
        [date]="content.contentDetails.videoPublishedAt"
        [description]="content.snippet.description">
    </app-details-widget>
</div>
