.details {
    color: #fff;
    position: relative;
    top: -20px;
    font-size: 12px;
    font-family: Roboto;
    .details-date {
        margin-bottom: 5px;
    }
    .details-description {
        font-family: Roboto-Thin;
    }
}
