/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: 'Roboto';
  src: url('./assets/fonts/Roboto/Roboto-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto-Thin';
  src: url('./assets/fonts/Roboto/Roboto-Thin.ttf') format('truetype');
}

@font-face {
  font-family: 'AlfaSlabOne';
  src: url('./assets/fonts/Alfa_Slab_One/AlfaSlabOne-Regular.ttf') format('truetype');
}

.container-fluid {
  padding: 0;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
    padding: 0;
  }
}

@media (max-width: 1200px) {
  .container {
    max-width: 100%;
    padding: 0 15px;
  }
}
