iframe {
    height: 415px;
    @media (max-width: 767.98px) {
        height: 215px;
    }
}
.title {
    font-family: AlfaSlabOne;
    color: #51E3C2;
    margin-bottom: 30px;
}
.back {
    a {
        font-size: 14px;
        color: #51E3C2;
        text-decoration: none;
        font-family: Roboto-Thin;
        img {
            margin-right: 10px;
        }
    }
}
